body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.login-page {
  background-image: url('/assets/background.jpg'); /* Path to your image */
  background-size: cover; /* Makes the image cover the entire container */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Ensures the image doesn't repeat */
  opacity: 0.8; /* Sets transparency */
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */
  display: flex; /* Centers child elements */
  align-items: center;
  justify-content: center;
}
